{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "esmodules": true
        }
      }
    ],
    ["minify"],
  ],
  "comments": false,
  "plugins": [
    ["@babel/plugin-transform-template-literals"],
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["@babel/plugin-proposal-object-rest-spread"],
    ["@babel/plugin-transform-spread"],
    ["iife-wrap"],
  ],
}
